@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BomberEscort";
  src: url("assets/fonts/BomberEscortHalftoneItalic-6YyDo.otf") format("opentype");
}

@font-face {
  font-family: "PixelLcd7";
  src: url("assets/fonts/PixelLcd7-nZp4.ttf") format("truetype");
}

@font-face {
  font-family: "LCDPHONE";
  src: url("assets/fonts/LCDPHONE.ttf") format("truetype");
}

@font-face {
  font-family: "LEDCalculator";
  src: url("assets/fonts/LEDCalculator.ttf") format("truetype");
}

@font-face {
  font-family: "BarcadeCondensed";
  src: url("assets/fonts/BarcadeCondensed-MPwe.otf") format("opentype");
}

@font-face {
  font-family: "MorseRegular";
  src: url("assets/fonts/Morse Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tab-box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px 170px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
}
